.BackButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    width: 60px;
    height: 40px;

    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}

.Link {
    text-decoration: none;
}