.App {
  z-index: 0;
}

.Modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  pointer-events: none;
}

.UI {
  width: 100%;
  height: 100%;
}

.UI > * {
  pointer-events: all;
}