.DemoWidget {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;

    background-color: white;

    min-width: 250px;
    max-width: 400px;
    width: 15%;

    padding: 30px;

    border-radius: 20px;

    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}

.IconedText {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 20px;
}

.Link {
    text-decoration: none;
}