.OperationPanel {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;

    min-width: 250px;
    max-width: 400px;
    width: 15%;

    height: 100%;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;

    background-color: white;
}
