.CreateRequestPanel {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;

    min-width: 250px;
    max-width: 400px;
    width: 15%;

    height: 100%;

    padding: 30px;

    background-color: white;
}

.Back {
}

.Footer {
    min-height: 30px;
}

.Title {
    color: #7C7C7C;
    margin-top: 20px;
    margin-bottom: 20px;
}


