.CreateSessionPanel {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;

    min-width: 200px;
    max-width: 400px;

    width: 100%;
    /*min-height: 100%;*/

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;

    border-color: #D7D7D7;
    border-width: 1px;
    border-style: solid;
}
