.VehicleDisplayComponent {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.KeyValue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}